.indexWrap {
  background-image: url("/assets/img/background.png");
  background-position: top calc(100vh - 648px) left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  min-height: calc(100vh - 33px);

  overflow-y: visible;
  opacity: 1;
  top: 33px;
  position: absolute;
}

.animateOut {
  filter: blur(50px);
  transform: scale(10);
  transition: all linear 500ms;
  opacity: 0;
}

.indexWrapDisplay {
  background-color: white;
  background-image: url("/assets/img/background.png");
  background-position: top calc(100vh - 648px) left;
  background-repeat: no-repeat;
  background-attachment: fixed;

  width: 100%;
  min-height: 100vh;
  margin-top: -10;
  margin-top: 10;
  overflow-y: visible;

  opacity: 1;
  display: flex;
  flex-flow: column;
  position: absolute;
}

@keyframes animateOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
